[package]
name = "kas-l2-core-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
quote = "1.0.36"
syn = { version = "2.0.88", features = ["full"] }
proc-macro2 = "1.0.101"
